@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Transaktionshanterare</h1>
   <p><a href="@Url.Action("DisplayTransactions")" class="btn btn-primary">Se alla transaktioner</a></p>
 <p><a href="@Url.Action("Categories")" class="btn btn-primary">Skapa och hantera kategorier</a></p>
   <p><a href="@Url.Action("CombinedReportViewModel")" class="btn btn-primary">Sammanställande rapport</a></p>

</div>